# registry = https://registry.yarnpkg.com

# registry = https://registry.npmjs.org

# registry = https://archive.ito.gov.ir/npm/

registry = https://mirror-npm.runflare.com

# registry = https://npm.partdp.ir

# registry = https://lib.arvancloud.ir/
